<footer>
  Made With Love By "Himanshuuu-exe" || Copyright &copy; Himanshu 2025
  <div class="ft">
        <h4>Social Links -
            <a href="https://github.com/Himanshuuu-exe">GitHub</a> || 
            <a href="https://www.linkedin.com/in/himanshu-chandel-38a3402a2">LinkedIn</a> || 
            <a href="https://x.com/Himanshuuu_exe">X</a>
            <!--<a href="chandelhimanshu20@gmail.com">Email</a> ||--> 
        </h1>
  </div>
</footer>
